llama-cpp-python==0.2.85
sentence-transformers==2.7.0
numpy==1.26.4
pandas==2.2.2
reportlab>=4.0.8
plotly-express==0.4.1
pydantic>=2.7,<2.10
typing_extensions>=4.11,<5
pymupdf==1.24.9
sqlite-vec==0.1.3